SECRET_KEY
DEBUG
ALLOWED_HOSTS
CACHES_REDIS_HOST
REDIS_TIMEOUT
REDIS_KEY_PREFIX
ACCESS_TOKEN_LIFETIME
REFRESH_TOKEN_LIFETIME
SLIDING_TOKEN_LIFETIME
SLIDING_TOKEN_REFRESH_LIFETIME
SESSION_EXPIRE_AT_BROWSER_CLOSE
SESSION_COOKIE_AGE
SESSION_SAVE_EVERY_REQUEST
VERSION
PROJECT_NAME
MAX_ATTEMPT_NUMBER
ATTEMPT_RESET_TIME
OPT_EXPIRE_TIME

# Deploy
GUNICORN_WORKERS
GUNICORN_TIMEOUT
GUNICORN_PORT